body
  margin 0
  padding 0
  background #ddd

h1
  font-family sans-serif

.button
  display inline-block
  padding 1em
  border-radius 50%
  border 1px solid black

.pager
  position relative
  width 100%
  overflow hidden
  height 200px
  background rgba(#000, 0.3)

.pager-item-day
  position absolute
  height 100%
  background #ddd
  