@import 'nib'

body
  margin 0
  padding 0
  background #ddd

pre
  background white
  padding 10px

h1
  font-family sans-serif

.button
  display inline-block
  padding 1em
  border-radius 50%
  border 1px solid black

.pager
  position relative
  width 100%
  overflow hidden
  height 200px
  background rgba(#000, 0.4)

.pager-item-day
  position absolute
  height 80%
  width 80%
  top 10%
  left 10%
  background #ddd
  box-shadow 0px 0px 20px rgba(black, 0.3)
  text-align center
  border-radius 2px
  font-family 'Helvetica Neue', Helvetica, sans-serif
  font-weight lighter
