doctype html
html
  head
    meta(name="viewport", content="width=device-width, user-scalable=yes, initial-scale=1.0")
    title= title
    link(rel='stylesheet', href='/css/base.css', media="all")
  body
    include _header.jade

    main
      block content
      
    script(src="/js/main.js")
